	<table>
		<tr>
   			<td>ID игрока: </td> <td> {{player.id}}</td>
   		</tr>
   		<tr>
   			<td>Логин: </td> <td> {{player.login}}</td>
   		</tr>
   		<tr>
   			<td>Платформа: </td> <td> {{player.platform}}</td>
   		</tr>
   		<tr>
   			<td>Позиция(если указана): </td> <td> {{player.get_position_display}}</td>
   		</tr>
   		<tr>
   			<td>Команда(если есть): </td> <td> {{player.team}}</td>
   		</tr>
   		
   		
   		<tr>
   			<td>Роль в команде: </td> <td> {%if player.t_adm%}
   		админ
   		{%else%}
   		простолюдин
   		{%endif%}</td>
   		</tr>
   		</table>
   		
   		<br>
   		<br> 
