<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>


<script>
function getj(arg)
{	
	if (arg<0) arg=0;
	var s='http://127.0.0.1:8000/tournaments_json+from'+arg + '/';
	$.ajax({

	  url: s ,
	  dataType : "json", 
	  success: function(data) {
	  	var my_out="<h3 align='center'>Турниры</h3><br><table cellspacing='10'><tr><th>Id</th><th>Название</th><th>Платформа</th>"

	  	for ( i in data)
	  	{
	  		st=data[i]
	  		
	  		my_out+="<tr>"
	  		for ( j in st)
	  		{
	  			my_out+="<td height='10'>"+st[j]+"</td>"
	  		}

	  		my_out+="</tr>"
	  	}
	  	my_out+="</table>"
	    $("div").html(my_out)
	    
	  }

	});

cur=arg;
}
var cur=0;
getj(cur);
 </script>
 <div>

</div>
<input value="Назад" onclick="getj(cur-10)" type="button">
<input value="Вперед" onclick="getj(cur+10)" type="button">

{% endblock %}