
{% extends "base.html" %}
{% block content %}
<h3> Информация о пользователе:</h3>
    <ul>
    <table>
   <tr>
   <td>ID пользователя: </td> <td> {{user.id}}</td>
   </tr>
   <tr>
   <td>никнейм: </td> <td> {{user.username}}</td>
   </tr>
    <tr>
   <td>Имя: </td> <td> {{user.first_name}}</td>
   </tr>
    <tr>
   <td>Фамилия: </td> <td> {{user.second_name}}</td>
   </tr>
   
   </table>

<h4> Игровые аккаунты:</h4>
   {% for player in players %}
   	{% include "player_prop.html"%}
	{% endfor %}   
    </ul>

{% endblock %}